//base
@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "~bootstrap/scss/bootstrap-grid.scss";
@import './components/splide/sass/core/splide-core.scss';
@import './components/splide/sass/themes/sky-blue/splide-sky-blue.scss';
@import './components/woocommerce';
//variables
@import "./global/variables";
//fonts
@import "./global/fonts";
//globals
@import "./global/global";
//components
@import "./components/header";
@import "./components/footer";
//pages
@import "./page/pages";