*{
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
    text-decoration: none !important;
    &:visited,
    &:focus,
    &:hover{
        text-decoration: none !important;
    }
}
:root{
    --base-black:#000;
    --base-blue-1:#0095d2;
    --base-blue-4:#047aff;
    --base-blue-2:#24c6ff;
    --base-blue-3:#9cc9e8;
    --base-gray-Light:#e4e1dd;
    --base-gray-Light-2:#ede9e6;
    --base-charcoal:#2c2e34;
    --base-white:#fff;
    --primary-blue:#3994fc;
    --primary-pink-1:#ca5888;
    --primary-pink-2:#f575ad;
    --secondary-purple-1:#8368e2;
    --secondary-purple-light:#e9bdef;
    --secondary-yellow:#ffc600;
    --secondary-yellow-light:#fffb80;
    
}
.btn-default{
    background-color: transparent;
    border: none;
    outline: none;
    &:active,
    &:visited,
    &:focus{
        outline: none;
    }
}
a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus{
    outline: 0px solid transparent;
}
a {
    color:var( --base-blue-4);

}
h1.product_title {
    font-size: 45px;
    font-family: $popinsB;
}
a:focus {
    outline: none !important;
}

@media (min-width:1400px){
    .container{
        max-width: 1250px;
    }
}
.show-action{
    display: block !important;
}
header.woocommerce-products-header,
header.entry-header {
    padding: 50px 0 !important;
    h1{
        font-family: $popinsB;
        font-size: 40px;
        line-height: 1.3;
    }
}