form#form-widget{
    input {
       display: block;
       width: 100%;
       height: 40px;
    }
    button.hustle-button.hustle-button-submit {
        display: block;
        margin: auto;
        margin-top: 5px;
        background: var( --base-blue-3);
        border: 1px solid var(--base-gray-Light-2);
        width: 100%;
    }
}
.footer-top h3 {
    
    margin-bottom: 0;
    font-size: 18px !important;
    font-weight: bolder !important;
    @media (min-width:768px){
        text-align: center;
    }
}
label.label-widget {
    font-weight: bold;
}
    .full-widget-form p {
       margin-bottom: 9px;
       font-size: 13px;
       text-align: justify;
       line-height: 1.2;
    }
    h3.title-form {
       font-size: 20px;
       color: #fff!important;
    }

//estilo 2


.icon-content {
    padding: 10px;
    font-size: 46px;
}
.style-2-container {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
}
.text-content {
    text-align: justify;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
}

.style-1-container {
   
    .icon-content {
        text-align: center;
    }
}

